<body class="page-container-bg-solid page-boxed">
  <div class="page-header">
    <!-- BEGIN HEADER TOP -->
    <div class="page-header-top">
      <div class="container">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
          <a href="#">
            <%= image_tag "logo.png", :alt => "自動校閲_磨き運用システム", :class => "logo-default" %>
          </a>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler"></a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu">
          <ul class="nav navbar-nav pull-right">
            
            <li class="droddown dropdown-separator">
              <span class="separator"></span>
            </li>
            
          </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
      </div>
    </div>
    <!-- END HEADER TOP -->
    <!-- BEGIN HEADER MENU -->
    <div class="page-header-menu">
      <div class="container">
        
        <!-- BEGIN MEGA MENU -->
        <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
        <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
        <div class="hor-menu  ">
          <ul class="nav navbar-nav">
            <li class="menu-dropdown classic-menu-dropdown  <%= (action_name == 'index') ? 'active' : '' %>">
              <a href="<%= root_path %>">
                Home
              </a>
            </li>
            <li class="menu-dropdown classic-menu-dropdown <%= (action_name == 'index2') ? 'active' : '' %>">
              <a href="/index2"> Tab 2
              </a>
            </li>
          </ul>
          <!-- END MEGA MENU -->
        </div>
      </div>
      <!-- END HEADER MENU -->
    </div>
    <!-- END HEADER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
      <!-- BEGIN CONTENT -->
      <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
          <div class="container">
            <!-- BEGIN PAGE TOOLBAR -->
            <div class="page-toolbar">
              
              
            </div>
            <!-- END PAGE TOOLBAR -->
          </div>
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE CONTENT BODY -->
        <div class="page-content">
          <div class="container">
            
            <!-- BEGIN PAGE CONTENT INNER -->
            
            <div class="page-content-inner" ng-controller="fileReviewerController">
              <!-- BEGIN PORTLET-->
              <div class="portlet light form-fit ">
                <div class="portlet-title">
                  <div class="caption">
                    <i class="icon-settings font-black"></i>
                    <span class="caption-subject font-black sbold uppercase">アップロードされたデータのセットアップ:        <button type="submit" class="btn blue">データセットアップを実行</button> 
                    </span>
                    
                  </div>
                </div>
                <div class="portlet-body form">
                  <!-- BEGIN FORM-->
                  
                  <div class="portlet light form-fit ">
                    <div class="portlet-title">
                      <div class="caption">
                        <i class="icon-settings font-black"></i>
                        <span class="caption-subject font-black sbold uppercase">ロジックファイル:</span>
                      </div>
                    </div>
                    <div class="portlet-body form">
                      <!-- BEGIN FORM-->
                      <form class="form-horizontal form-bordered"  no-validate>
                        <div class="form-body">
                          <div class="form-group">
                            <label class="control-label col-md-3"> {{uploadingFileName}}
                            </label>
                            <div class="col-md-3">
                              <div class="fileinput fileinput-new" data-provides="fileinput" >
                                <div class="input-group input-large">
                                  <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput" >
                                    <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                    <span class="fileinput-filename"> </span>
                                  </div>
                                  <span class="input-group-addon btn default btn-file ">
                                    <span class="fileinput-new"> 更新ファイルをアップロード </span>
                                    <span class="fileinput-exists"> 変更 </span>
                                    <input type="file" nv-file-select uploader="uploader" />
                                  </span>
                                  <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> 削除 </a>
                                  <span class="input-group-addon btn blue fileinput-exists" value="アップロード" ng-click="saveFile()">
                                    アップロード
                                  </span> 
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                      <div class="portlet light form-fit ">
                        <div class="portlet-title">
                          <div class="caption">
                            <i class="icon-settings font-black"></i>
                            <span class="caption-subject font-black sbold uppercase">自動校閲実行設定:</span>
                          </div>
                          
                        </div>
                        <form class="form-horizontal" ng-submit="reviewInputs()">
                          <div class="form-group form-group-sg">   
                            <br/>
                            <div class="col-md-12">
                              <div class="col-md-4">
                                <label for="span_small" class="control-label">検証するルール
                                  (アルゴリズム)</label>
                                
                                <select id="span_small" class="form-control select2 " ng-model="selectedLatestKeys" ng-options="key.value as key.value group by key.group for key in latestKeys" name="selected_latest_keys" multiple >
                                </select>
                              </div>
                              
                              <div class="col-md-4">
                                <label for="span_small" class="control-label">検証されるルール (G社判定)</label>
                                <select id="span_small" class="form-control select2" ng-model="selectedExistingKeys" ng-options="key.value as key.value group by key.group for key in existingKeys" name="selected_existing_keys" multiple>
                                  
                                </select>
                              </div>
                              
                              <div class="col-md-3 col-md-offset-1">
                                <div class="form-group">
                                  
                                  <div class="input-group">
                                    <div class="icheck-list">
                                      <label>
                                        <input type="checkbox" name="radio1" class="icheck" data-radio="iradio_flat-grey"> BLACK </label>
                                      <label>
                                        <input type="checkbox" name="radio1" checked class="icheck" data-radio="iradio_flat-grey"> WHITE </label>
                                      <label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <br/>
                              <!-- END PAGE CONTENT INNER -->
                              <div class="portlet light ">
                                <div class="portlet-title">
                                  <div class="caption">
                                  </div>
                                  
                                </div>
                                <div class="portlet-body padding-buttom-2">
                                  <div class="col-md-offset-4 col-md-3 col-sm-3 col-xs-12">
                                    <button type="submit" class="btn blue run-button" style="padding:0px;">
                                      ラン
                                    </button>
                                  </div>
                                </div>
                              </div>
                              <!-- END PAGE CONTENT BODY -->
                              <!-- END CONTENT BODY -->
                            </div>

                            <!-- END CONTENT -->
                          </div>
                          <!-- END CONTAINER -->
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
