.index2-body{
    background-image: url('background_image.png');
    color: #FEFCFF;
}

.index2-body .page-content {
    background: none;
    padding: 15px 0px;
}
.portlet.light {
    padding: 12px 20px 15px;
    background-color: none;
}

.index2-body > .portlet.light > .portlet-title > .caption > i{
    color: #FEFCFF;
}