<!DOCTYPE html>
<html ng-app="autoReviewApp">
  <head>
    <meta charset="utf-8" />
    <title>PKSHA |自動校閲_磨き運用システム</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link rel="shortcut icon" href="favicon.ico" />
    <%= csrf_meta_tags %>
  </head>
  <%= yield %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>

